{
  "plugins": [
    "syntax-flow",
    ["transform-runtime", { "polyfill": false }],
    "transform-flow-strip-types",
    "transform-class-properties",
    "transform-private-underscore"
  ],
  "presets": [ "env" ]
}